# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
*.egg

# Virtual Environments
.env
.venv/
venv/

pip-log.txt
pip-delete-this-directory.txt

# Cypress
cypress/videos/
cypress/screenshots/
cypress/downloads/
cypress/cache/

# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints/

# Streamlit
.streamlit/

# IDEs
.github/
.vscode/
.idea/
*.swp
*.swo

# Misc
.DS_Store
Thumbs.db

# Personal Stuff
AI_Investigation.txt
LinkedIn_Posts.txt